*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    min-height: 100vh;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{

    width:300px;
    height:530px;
    box-shadow: 4px 4px 30px rgb(107, 99, 99);
    border-radius: 15px;
    background:#0A2647;
    overflow:hidden;
}

form input{
    width: 100%;
    height: 20vh;
    border:none;
    font-size: 2rem;
    padding: 1rem;
    color:#fff;
    background: #000;
    text-align: right;
    justify-content: baseline;
    pointer-events: none; /* Unables the writting inside the form*/

}

.buttonsCalculator{

    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

button {

    flex:0 0 22%;
    margin: 5px 0;
    border:none;
    width:60px;
    height:52px;
    font-size:22px;
    font-weight: bolder;
    border-radius: 5px;


}

.btn-bs-operation{

    background: rgb(215, 148, 25);
    color:white;
}

.btn-number{

    background: white;
}

.btn-equal{

    background: rgb(202, 34, 160);
    color:white;
}

.btn-clear{

    background: red;
    color: white;
}